<!DOCTYPE html>
<html>
<head>
	<title>superhero | db</title>
	<%# <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>%>

	<!--Aquire CDN for AXIOS in the front end!!-->
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/script.js"></script>
<!--End of scripts-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css" />

</head>
	<body>


		<nav>
	    <div class="nav-wrapper">
				<a class="nav-buttons" href="users/signup">Sign Up</a>
	      <a class="nav-buttons" href="users/login">Log In</a>
	    	<a href="/" class="logo">Superhero | db</a>
		  </div>


			<div class="app-intro">
				<h5> Superhero | db:</h3>
					<p>A place to search for, and save your favorite Marvel superheroes.</p>
			</div>

			<%# <form method="GET" action="users/signup">
				<div class="margin-top-20 text-center">
					<button type="submit" class="user-buttons">Sign Up</button>
				</div>
			</form>%>

  	</nav>


	</body>
</html>
