<!DOCTYPE html>
<html>
<head>
	<title>superhero | db</title>
	<%# <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>%>

	<!--Aquire CDN for AXIOS in the front end!!-->
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/script.js"></script>
<!--End of scripts-->
	<link rel="stylesheet" href="css/style.css" />

</head>
	<body>
	<div class="button-wrapper">

		<div class="splash-buttons">
			<form method="GET" action="users/signup">
				<div class="margin-top-20 text-center">
					<button type="submit" class="user-buttons">Sign Up</button>
				</div>
			</form>

				<form method="GET" action="users/login">
					<div class="margin-top-20 text-center">
						<button type="submit" class="user-buttons">Login</button>
					</div>
				</form>
			</div>

		</div>

	</body>
</html>
