/*@font-face {
    font-family: 'the-avengers';
    src: url('../../vendor/The Avengers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }*/

body {
  background: url("http://i.imgur.com/muQ9b2O.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 80%;
  /*background-attachment: fixed;*/
  background-position: left bottom;
  max-width: 100%;
  max-height: 2000;px
}

h1 {
  font-size: 8px;
  color: rgb(226,54,54);
  font-family: 'the-avengers';
}

h5 {
  font-size: 18px;
}


button {
color: white;
background-color: rgb(226,54,54);
border-radius: 3px;
margin-top: 48px;
border-color: white;
box-shadow: 1px 1px grey;
}

.hero-name {
  font-size: 28px;
}

.hero-img {
  margin-top: 20px;
  height: 120px;
  width: 120px;
  border-radius: 3px;
  box-shadow: 1px 1px grey;
}

.nav-wrapper {
  width: 100%;
  background-color: white;
  box-shadow: 0, 2px, 0, 2px, rgb(226,54,54);
}

.app-intro {
  /*border-style: outset;*/
  color: rgb(226,54,54);
  text-align: left;
  margin-top: 15%;
  margin-left: 50%;
  height: 150px;
  width: 500px;
}

.intro-title {
  font-size: 30px;
}

.intro-text {
  float: left;
}

.logo {
  color: rgb(226,54,54);
  font-size: 15px;
  float: left;
  margin-top: 10px;
  margin-left: 75%;
}

.nav-logo {
  font-size: 16px;
}

.nav-buttons {
  float: left;
  color: rgb(226,54,54);
  margin-left: 35px;
}

.user-buttons {
  color: white;
  text-align: center;
  width: 120px;
  height: 30px;
  margin-top: 30%;
  background-color: rgb(226,54,54);
  border-radius: 3px;
}

.sign-up-form {
  text-align: center;
  margin: 100px auto;
  flex-grow: 1;
  width: 25%;
  height: 15px;
}

.log-in-form {
  text-align: center;
  margin: 100px auto;
  flex-grow: 1;
  width: 25%;
  height: 15px;
}

.search-button {
  color: white;
  background-color: rgb(226,54,54);
  border-radius: 3px;
  margin-top: 22px;
  border: none;
}

.favorite-button {
  color: white;
  background-color: rgb(226,54,54);
  border-radius: 3px;
  margin-top: 15px;
  border: none;
}

.favorites-div {
  /*display: none;*/
  /*border-style: groove;
  border-color: rgb(226,54,54);*/
  height: 300px;
  width: 160px;
  float: right;
  margin-top: 140px;
  margin-right: 75px;
}

.favorites-text {
  color: rgb(226,54,54);
  font-size: 14px;
  text-align: center;
}

.hero-info {
  size:;
  img:;
}

.hero-description {
  color: black;
  font-size: 8px;
}

/*.button-wrapper {
  display: block;
  /*width: 500px;
  height: 100px;
}*/


/*.sign-button {
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  height: 20px;
  width: 30px;
}*/

#heroes {
  width: 75%;
  height: 15px;
}

.search-hero-form {
  text-align: center;
  margin-top: 180px;
  margin-left: auto;
  margin-bottom: 80px;
  margin-right: auto;
  flex-grow: 1;
  width: 25%;
  height: 15px;
}
