<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  	<script type="text/javascript" src="js/script.js"></script>
  <!--End of scripts-->

  	<link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>

    <nav>
    <div class="nav-wrapper">
      <a href="/" class="logo">Superhero | db</a>
      <!--<ul class="left hide-on-med-and-down">
        <a href="users/signup" class="waves-effect waves-light btn">button</a>
        <li class="active"><a href="users/login">Log In</a></li>
      </ul>-->
    </div>
  </nav>



      <div class="sign-up-form">
        <form method="POST" action="/users/signup">
          <div>
            <input name="user[f_name]" type="text" placeholder="First Name" class="form-design" />
          </div>
          <div class="">
            <input name="user[l_name]" type="text" placeholder="Last Name" class="form-design"/>
          </div>
          <div>
            <input name="user[email]" type="email" placeholder="Email" class="form-design"/>
          </div>
          <div class="">
            <input name="user[password]" type="password" placeholder="Password" class="form-design"/>
          </div>
          <div class="">
            <input name="user[photo]" type="text" placeholder="Profile Photo" class="form-design"/>
          </div>
          <div class="">
            <button type="submit" class="user-buttons">Sign on up, Bub</button>
          </div>
      </form>
    <div>

  </body>
</html>
